<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap" rel="stylesheet" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Relembrar senha</title>
        <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet" />
    </head>
    <body style="background: #fafafa; box-sizing: border-box; font-family: Arial, sans-serif; overflow: hidden;padding: 2% 10%;">
        <div class="container">
            <div>
                <h1
                    style="color: #a69af2;font-family: Lato, Arial, sans-serif;font-size: 49px;font-weight: 300;letter-spacing: 0.2px;margin-bottom: 82px;"
                >
                    Falta pouco para redefinir sua senha :)
                </h1>
            </div>
            <p
                style="color: #7a7d8b; font-family: Lato, Arial, sans-serif; font-size: 23px; font-weight: 300;letter-spacing: 0.09px; line-height: 32px;"
            >
                Olá Fulano da Silva!
            </p>
            <p
                style="color: #7a7d8b; font-family: Lato, Arial, sans-serif; font-size: 23px; font-weight: 300;letter-spacing: 0.09px; line-height: 32px;"
            >
                Recebemos uma solicitação de redefinição de senha para a sua conta.
            </p>
            <p
                style="color: #7a7d8b; font-family: Lato, Arial, sans-serif;font-size: 23px; font-weight: 300;letter-spacing: 0.09px;line-height: 32px;"
            >
                Para continuar acesse o link abaixo:
            </p>
            <p style="border-bottom: 0.4px solid #707070; margin-top: 69px; padding-bottom: 13.5px;">
                <a
                    href="#"
                    style="color: #3597ec; font-family: Lato, Arial, sans-serif;font-size: 23px; letter-spacing: 0.09px;line-height: 22px; text-decoration: none; word-break: break-all;"
                    target="_blank"
                    >https://reset-password.link</a
                >
            </p>
        </div>
    </body>
</html>
